h1{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    color: rgb(255,213,9);
    font-weight: 900;
}

.padawan{
    transform: rotateY(180deg);
    height: 200px;
    float:right;
}

.troopers{
    height: 200px;

}