
.student{
    /* background-color:red;  */
    width:80%;
    margin-left:11%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: rgb(255,213,9);
}

p{
 text-align: left;
 display:inline-block;
 margin-left: 10%;
 width:33%;
}
.jediSecret{
    display:inline-block;
    /* background-color:black; */
    width:25%;
}
.deleteButton{
    display:inline-block;
    font-size: 20px;
    background-color:green;
    padding:none;
    width:10%;
}
a{
    color:yellow;
}