<div class="student" >
    <p>Student: <a href="#">{{student?.name}}</a></p>
    <p>Skill: {{student.skill}}</p>
    <button (click)="trainStudent()">Train</button>
    <button (click)="deleteName()">Delete </button>

    <button class= "easterEgg" *ngIf ="student.name =='Darth Vader' || student.name =='Anakin Skywalker'">Dark Side</button>
    <p *ngIf="student.isJedi" class="jediSecret">Jedi Temple: {{student?.temple}}</p>
    <!--se não for um jedi, div não aparece pela diretiva-->
</div>
<hr>