.insert{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: rgb(255,213,9);
    margin-bottom: 10px;
    /* background-color:green; */
    width:100%;
    height:auto;
    margin-left:0%;
    margin-right:0%;
    text-align: center;
    /* background-color: yellow; */
    display:inline-block;
    
}
button{
    display:inline-block;
    font-size: 20px;
    background-color:green;
    padding:none;
    width:5%;
    padding:none;
    margin:none;
    padding-bottom:2px;
    margin-left:2%;
}
.nameBox{
    height:24px;
    display:inline-block;
}
img{
    margin-top:1%;

}
.padawan{
    transform: rotateY(180deg);
    height: 200px;
    float:right;
    margin-right:1%;
}

.troopers{
    height: 200px;
    float:left;
    margin-left:1%;
}


@media (max-width: 1200px)
{
    button{
        font-size: 16px;
        width: 10%;
    }

    img{
        margin-top:4%;
    
    }

    .padawan{
        transform: rotateY(180deg);
        height: 100px;
        float:right;
        margin-right:1%;
    }
    
    .troopers{
        height: 100px;
        float:left;
        margin-left:1%;
    }
    
}

@media (max-width: 800px)
{
    button{
        font-size: 14px;
        width: 10%;
    }

    img{
        margin-top:4%;
    
    }

    .padawan{
        transform: rotateY(180deg);
        height: 100px;
        float:right;
        margin-right:1%;
    }
    
    .troopers{
        height: 100px;
        float:left;
        margin-left:1%;
    }
    
}